@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-gradient: linear-gradient(
    to bottom,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );

  --colorRock: hsl(349, 70%, 56%);
  --colorRockShadow: hsl(349, 71%, 52%);

  --colorPaper: hsl(230, 89%, 65%);
  --colorPaperShadow: hsl(230, 89%, 62%);

  --colorScissors: hsl(40, 84%, 53%);
  --colorScissorsShadow: hsl(39, 89%, 49%);

  --colorLizard: hsl(261, 72%, 63%);
  --colorLizardShadow: hsl(261, 73%, 60%);

  --colorCyan: hsl(189, 58%, 57%);
  --colorCyanShadow: hsl(189, 59%, 53%);

  --colorDarkText: hsl(229, 25%, 31%);
  --colorScoreText: hsl(229, 64%, 46%);
  --colorHeaderOutline: hsl(217, 16%, 45%);
  --colorShadow: hsl(237, 49%, 15%);

  /* Weights: 600, 700 */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed";
  font-weight: 600;
  color: rgba(255, 255, 255, 0.692);
}
